.about-me{
    width: 100%;
    height: 100vh;
    padding-top: 3rem; 
    
    &__wrap{

        margin-top:auto;
        border: 5px ridge $font-color;
        padding: 30px 20px;
        max-width: 60vw;
        min-height: 50vh;
        margin-left: auto;
        margin-right: auto;

    }
}


