.about-me{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 3rem; 
    min-height: 100vh;
    font-family:  'Teko', sans-serif;
    background:whitesmoke;


    .text-wrapper{
        display: flex;
        flex-direction: column;

        .title{
            display: flex;
            justify-content: flex-start;
            margin-top: $nav-bar-size;
            &--bg{
                position: absolute;
                display: flex;
                width: 110px;
                height: 90px;
                background-color: $font-color;
                z-index: $zBehind;
            }
            &__text{
                display: flex;
                color:  $my-grey;
                font-size: 5rem;
                z-index: $zMid;    
                margin-left: 20px; 
                text-align: right; 
                letter-spacing: 2px;
            }
        }
        .main-text{
            display: flex;
            color:  $my-grey;
            font-size: 2.3rem;
            width: 35vw;
            min-height: 50vh;
            text-align: left;
            letter-spacing: 1px;
            margin-top:$nav-bar-size;            
        }
    
    }
    &__photo{
        margin-top:auto;
        margin-bottom:auto;
        margin-top:$nav-bar-size;
        scale: 0.9;
    }
}


@media screen and (max-width:1024px){
    .about-me__photo{
        display: none;
    }

    .about-me{
        .text-wrapper{
           .main-text{
                width: 70vw;
                letter-spacing: 0;
                //text-align: center;
            }
        }
    }

}