
.my-skills{
    display: flex;
    flex-direction: column;
    width: 100% ;
    min-height: 100vh;
    background: white;
    padding: 0;
    margin:0;
    
    .skill-category-list{
                margin-top: $nav-bar-size;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                font-family: 'Teko', sans-serif;
                    &__item{
                        display: flex;
                        list-style: none;
                        border-bottom: 1px solid $my-grey;
                        border-left: 1px solid $my-grey;
                        border-top: 1px solid $my-grey;
                        color: $my-grey;
                        min-width: 25%;
                        min-height: 10vh;
                        align-items: center;
                        justify-content: center;
                        font-size: 2.1rem;
                        letter-spacing: 1px;
                        padding: 0 10px;
                        text-align: center;
                        &:first-child{
                            border-left: none;
                        }
                        &:hover,:active{
                            color: $font-color;
                            cursor: pointer;
                        }
                        
                    }                
            
    }

    .skills-demo-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 80%;

        .skills-demo{    
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;

            &__category-title-wrapper{ 
                display: flex;  
                flex-direction: column;            
                position: relative;
                top: 0;
                left: 0;
                text-align: center;
                justify-content: center;
                margin: 3vh 0;
                

                .category-title{
                    font-family:  'Teko', sans-serif;
                    font-size: $logo-font-size;        
                    color: $my-grey;
                }
                .line{
                    width: 35px;
                    height: 2px;
                    background-color: $my-grey;      
                    margin-left: auto;                                
                    margin-right: auto;                                
                }
               
            }

            &__skills-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top:5vw;

                &__item{
                    margin-bottom:3vh;
                    display: flex;
                    flex-direction: row;
                    font-size: 2rem;
                    width: 100%;
                    justify-content: center;    
                    align-items: center;    
                    color: $font-color;

                    
                    &--name{
                        font-family:  'Teko', sans-serif;
                        color: $my-grey;
                        text-align: center;
                        min-width: 20%;
                        text-align: end;
                        margin-right: 10px;
                     }
                     &--stars{
                         display: flex;
                         justify-content: space-around;
                         text-align: center;
                         min-width: 40%;
                     }
                 }
            }
            
            &__arrow{
                margin: 8vh 0;
                color:$font-color;
                font-size: 2.5rem;
                font-family: 'Teko', sans-serif;
                
                &:hover{
                    color:$hover-color;
                    cursor: pointer;
                }
            }

           
            
        }
    }    
}

@media screen and (max-width:768px){

    .my-skills{

        .skill-category__list{    
            width: 100%;
                &__item{
                    letter-spacing: 0;
                    font-size: 2rem;
                }
            }

        .skills-demo-wrapper{
            flex-direction: column;

            .skills-demo{    
                width: 100%;
            } 
        }
    }
       
     
}