.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(55, 58, 61, 0.2);
  font-family: 'Teko', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.2rem;
  width: 100%;
  z-index: 10;
}

.navigation__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
}

.navigation__menu-list li {
  list-style: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.navigation__menu-list li:hover, .navigation__menu-list li:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navigation__menu-list--link {
  text-decoration: none;
  color: #37a59c;
  letter-spacing: 1px;
  margin: 0 1.5vw;
  font-size: 1.8rem;
}

.navigation .logo {
  font-family: 'Black Ops One', cursive;
  font-size: 3rem;
  text-decoration: none;
  color: #37a59c;
  margin-left: 3vw;
  letter-spacing: 2px;
}

.navigation .burger div {
  background-color: #37a59c;
  width: 22px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation .burger {
  display: none;
  margin-right: 3vw;
}

.navigation .burger:hover {
  cursor: pointer;
}

.navigation .burger:hover div {
  background-color: #72ddd1;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
  }
  .navigation .navigation__menu-list {
    z-index: 5;
    position: absolute;
    right: 0;
    top: 4.2rem;
    width: 100vw;
    background: rgba(55, 58, 61, 0.95);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    display: none;
  }
  .navigation .navigation__menu-list--link {
    opacity: 0;
  }
  .navigation .burger {
    display: block;
  }
}

.navigation .mobileNavActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 315px;
  -webkit-animation: mobileNavBarShow 0.3s ease-in;
          animation: mobileNavBarShow 0.3s ease-in;
}

.navigation .mobileNotNavActive {
  -webkit-animation: mobileNavBarHide 0.3s ease-in;
          animation: mobileNavBarHide 0.3s ease-in;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes mobileNavLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mobileNavLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mobileNavBarShow {
  from {
    height: 0;
  }
  to {
    height: 315px;
  }
}

@keyframes mobileNavBarShow {
  from {
    height: 0;
  }
  to {
    height: 315px;
  }
}

@-webkit-keyframes mobileNavBarHide {
  from {
    height: 315px;
  }
  to {
    height: 0;
  }
}

@keyframes mobileNavBarHide {
  from {
    height: 315px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes topNavBarShow {
  from {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topNavBarShow {
  from {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.toggleNavBtn .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleNavBtn .line2 {
  opacity: 0;
}

.toggleNavBtn .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.photo-wrap {
  background: #303030;
  height: 46.5vw;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.main-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: url(../img/me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  opacity: .6;
}

.greeting {
  position: absolute;
  bottom: 15%;
  left: 3vw;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 5rem;
}

.greeting--hi {
  display: block;
  letter-spacing: 2px;
  height: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.greeting__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Black Ops One', cursive;
  height: 5rem;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.greeting__wrap--tym {
  color: #37a59c;
  display: block;
}

@media screen and (max-width: 1048px) {
  .greeting {
    font-size: 3rem;
  }
  .greeting--hi {
    height: 3rem;
  }
  .greeting__wrap {
    height: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .greeting {
    font-size: 2rem;
  }
  .greeting--hi {
    height: 2rem;
  }
  .greeting__wrap {
    height: 2rem;
  }
  .photo-wrap {
    height: 356px;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3rem;
  min-height: 100vh;
  font-family: 'Teko', sans-serif;
  background: #adc7c613;
}

.about-me__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #303030;
  width: 35vw;
  border: 1px solid black;
  height: 80vh;
  margin-top: 4.2rem;
}

.about-me__text h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  margin-left: 5vw;
}

.about-me__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 4.2rem;
  top: 0;
  left: 0;
  width: 475px;
  height: 600px;
}

.about-me__photo .photo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/me2.jpg);
  position: absolute;
  top: 0;
  right: 0;
  width: 93%;
  height: 95%;
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me__photo .bg-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 4px dashed #37a59c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 95%;
  z-index: 1;
}

.my-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background: black;
  padding: 0;
}

.my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: white;
  padding: 0;
  margin: 0;
}

.my-skills .skill-category-list {
  margin-top: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-family: 'Teko', sans-serif;
}

.my-skills .skill-category-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #303030;
  border-left: 1px solid #303030;
  border-top: 1px solid #303030;
  color: #303030;
  min-width: 25%;
  min-height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.1rem;
  letter-spacing: 1px;
  padding: 0 10px;
  text-align: center;
}

.my-skills .skill-category-list__item:first-child {
  border-left: none;
}

.my-skills .skill-category-list__item:hover, .my-skills .skill-category-list__item :active {
  color: #37a59c;
  cursor: pointer;
}

.my-skills .skills-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 80%;
}

.my-skills .skills-demo-wrapper .skills-demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-skills .skills-demo-wrapper .skills-demo__category-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vh 0;
}

.my-skills .skills-demo-wrapper .skills-demo__category-title-wrapper .category-title {
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
  color: #303030;
}

.my-skills .skills-demo-wrapper .skills-demo__category-title-wrapper .line {
  width: 35px;
  height: 2px;
  background-color: #303030;
  margin-left: auto;
  margin-right: auto;
}

.my-skills .skills-demo-wrapper .skills-demo__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vw;
  width: 100%;
}

.my-skills .skills-demo-wrapper .skills-demo__skills-list__item {
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #37a59c;
}

.my-skills .skills-demo-wrapper .skills-demo__skills-list__item:hover {
  cursor: pointer;
  color: #72ddd1;
  letter-spacing: 1px;
}

.my-skills .skills-demo-wrapper .skills-demo__skills-list__item--name {
  font-family: 'Teko', sans-serif;
  color: #303030;
  text-align: center;
  min-width: 25%;
  text-align: end;
  margin-right: 10px;
}

.my-skills .skills-demo-wrapper .skills-demo__skills-list__item--stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  text-align: center;
  min-width: 40%;
}

.my-skills .skills-demo-wrapper .skills-demo__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0;
  color: #37a59c;
  font-family: 'Teko', sans-serif;
  min-height: 4rem;
}

.my-skills .skills-demo-wrapper .skills-demo__reset--string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.8rem;
  margin-right: 4px;
}

.my-skills .skills-demo-wrapper .skills-demo__reset .refresh-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.1rem;
  padding-bottom: 4px;
}

.my-skills .skills-demo-wrapper .skills-demo__reset:hover {
  color: #72ddd1;
  cursor: pointer;
}

.item-checked {
  border: 1px solid #303030;
  color: #72ddd1 !important;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .my-skills .skill-category__list {
    width: 100%;
  }
  .my-skills .skill-category__list__item {
    letter-spacing: 0;
    font-size: 2rem;
  }
  .my-skills .skills-demo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-skills .skills-demo-wrapper .skills-demo {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .my-skills .skills-demo-wrapper .skills-demo__skills-list__item {
    width: 90%;
  }
  .my-skills .skills-demo-wrapper .skills-demo__skills-list__item--name {
    width: 30%;
  }
}

.footer {
  background: rgba(55, 58, 61, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 50vh;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-media a {
  color: white;
  font-size: 3.5rem;
  text-decoration: none;
  opacity: 0.8;
}

.footer__social-media a:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 3.6rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  font-family: 'Black Ops One', cursive;
  font-size: 4rem;
  color: #37a59c;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer__text {
  color: white;
  font-size: 1.4rem;
  text-align: center;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
/*# sourceMappingURL=main.css.map */