@charset "UTF-8";

 
.icon-linkedin-1:before { content: '\4c'; } /* 'L' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */